@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

:root {
    --color-background: black;
    --color-menu-letters: white;
    --color-top-letters: white;
    --color-about-me: #a3ff2f;
    --color-my-technologies: #FBFF2F;
    --color-about-me-shadow: rgb(163 255 47 / 20%);
    --color-my-projects: #FF7A2F;
    --font-size-top-menu: 15px;
    --direction-down: -20px;
    --background-gradient: linear-gradient(0deg, black 99%, #a3ff2f);
    --opacity-cursor: 1;
    --animationSquareTimeTransition: 0.3s;
}

[data-animated] {
    transition: all 0.3s;
    opacity: 0;
}

[data-animated="right-to-center"] {
    transform: translateX(-30vw);
}

[data-animated="left-to-center"] {
    transform: translateX(30vw);
}

[data-animated="bottom-to-center"] {
    transform: translateY(30vw);
}

[data-animated="top-to-center"] {
    transform: translateY(-30vw);
}

[data-animated="scale"] {
    transform: scaleY(0.0001);
}

[data-animated="set-background"] {}

[data-animated].animated-element {
    transform: translate(0) scale(1);
    opacity: 1;
}

.disappear {
    opacity: 0;
}

.section-about-me [data-animated="right-to-center"].animated-element {
    transform: translateY(20vw);
}

img {
    max-width: 320px;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background-gradient);
}

.section-divisor {
    height: 20vw;
}

header,
.top-menu {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

header .nav-bar-menu {
    width: 100vw;
    font-size: var(--font-size-top-menu);
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 3px;
    border: solid black 5px;
}

header .menu-top {
    background-color: var(--color-background);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu-bottom {
    display: flex;
    column-gap: 24px;
}

header #hidden-menu {
    display: none;
    background-color: rgba(0, 0, 0, 0);
}

header #hidden-menu svg rect {
    transition: all 0.3s;
}

header #hidden-menu:active svg rect {
    fill-opacity: 0.5;
}

main .section-top {
    display: flex;
    justify-content: space-evenly;
}

main .section-top .picture-top-banner {
    width: 35vw;
    max-width: 500px;
}

.picture-top-small {
    display: none;
}

main .section-top .container-text {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    max-width: 370px;
}

main .section-top .container-text .text-greeting {
    text-align: center;
    font-size: 1.5em;
}

main .section-top .container-text .text-greeting h2::after {
    content: '|';
    font-size: 1.6em;
    margin-left: 0.1em;
    animation: 0.8s cursor-blink step-end infinite;
}

@keyframes cursor-blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

main .section-top .container-text .text-presentation {
    text-align: justify;
    opacity: 0;
}

main .section-top .container-text .text-presentation small {
    font-size: 0.8em;
    display: block;
    margin-top: 10px;
    text-align: end;
}

main .section-top .container-text .text-presentation p::after {
    content: "▉";
    text-shadow: -4px 0 4px;
    color: var(--color-about-me);
    transition: all 1s;
    opacity: var(--opacity-cursor);
}

main .section-about-me .cut-background {
    background-color: black;
}

main .section-about-me .animateded-forms-container {
    opacity: 1;
    transition: cubic-bezier(.28, -0.22, .23, 1.64) 0.7s;
    box-shadow: 0px 4px 4px 0px black;
    position: relative;
    z-index: 1;
}

main .section-about-me .diagonal-cut {
    background: var(--color-about-me);
    box-shadow: 0px -10px 10px var(--color-about-me-shadow);
    transform: matrix(1, -0.09, 0, 1, 0, 0);
    height: 10vw;
    top: 5vw;
    position: relative;
}

main .section-about-me #diagonal-cut-below {
    background: var(--color-about-me);
    box-shadow: 0px 10px 10px var(--color-about-me-shadow);
    transform: matrix(1, -0.09, 0, 1, 0, 0);
    height: 10vw;
    bottom: 5vw;
    top: unset;
}

main .section-about-me .title-block {
    background-color: black;
    top: 7vw;
    border: solid black 2px;
}

main .section-about-me h2 {
    font-size: 4em;
    font-weight: 700;
    color: var(--color-about-me);
    mix-blend-mode: difference;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 3;
}

main .container-about-me {
    background-color: var(--color-about-me);
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px black;
    position: relative;
    z-index: 1;
}

main #container-below {
    box-shadow: 0px -4px 4px black;
}

main .section-about-me {
    background: url(https://neilpatel.com/wp-content/uploads/2017/12/codigos-html-para-paginas-web.jpeg);
    /* background-size: cover;*/
    background-attachment: fixed;
}

main .section-about-me #black-block {
    height: 100%;
    width: 100%;
    background: black;
    position: absolute;
    transition: all 1s;
}

main .container-about-me .introduction-text {
    width: 37vw;
    max-width: 540px;
    min-width: 300px;
    border: solid var(--color-background) 2px;
    border-radius: 15px;
    padding: 10px;
    margin: 0 0 2vw 0;
}

main .container-about-me h3 {
    margin-bottom: 1vw;
}

main .container-about-me .complement-text {
    max-width: 750px;
    width: 52vw;
    margin: 3.47vw 0 0;
}

main .container-about-me .complement-text p {
    text-align: justify;
    font-size: 1.1em;
    font-weight: 300;
}

main .container-about-me .introduction-text h3,
.container-about-me .introduction-text p,
.container-about-me .complement-text h3,
.container-about-me .complement-text p {
    color: var(--color-background);
    font-weight: 400;
    font-size: 1.1em;
    text-indent: 1em;
}

main .section-avatar {
    width: 100%;
    height: 23vw;
    max-height: 330px;
    min-height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

main .section-avatar .frame-avatar {
    border-radius: 100%;
    overflow: hidden;
    display: flex;
}

main .frame-avatar img {
    max-width: 200px;
    max-height: 200px;
    width: 13.8vw;
}

main .section-about-me .enviorement-object {
    position: fixed;
    left: 50px;
    background: var(--color-about-me);
    width: 52px;
    height: 100px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
}

main .section-about-me .enviorement-object svg path {
    fill: var(--color-background);
}

main .section-avatar #object-2 {
    top: unset;
    left: unset;
    bottom: -20px;
    right: 80px;
}

main .title-container h2 {
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    padding: 5vw 0 2vw;
}

main .section-my-technologies .title-container h2 {
    color: var(--color-my-technologies);
}

main .section-my-technologies .separator {
    background-color: var(--color-my-technologies);
    box-shadow: 0px 4px 4px 0px black;
    height: 5px;
    position: relative;
    z-index: 2;
}

main .section-my-technologies #separator-below {
    box-shadow: 0px -4px 4px black;
}

main .section-my-technologies .container-my-technologies {
    position: relative;
}

main .section-my-technologies .yellow-square-animated {
    height: 40px;
    width: 40px;
    background: var(--color-my-technologies);
    position: absolute;
    opacity: 1;
    animation: 20s blink-square ease infinite;
}

@keyframes blink-square {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

}

main .section-my-technologies .frame-container {
    overflow: hidden;
}

main .section-my-technologies .frame-scroll {
    display: flex;
    z-index: 1;
    column-gap: 2.29vw;
    margin-top: 2.29vw;
    justify-content: center;
    overflow: scroll;
    scroll-snap-type: inline mandatory;
    scroll-snap-align: center;
}

main .section-my-technologies .frame-scroll>* {
    scroll-snap-align: center;
}

main .section-my-technologies .frame-scroll::-webkit-scrollbar {
    display: none;
}

main .section-my-technologies .frame-scroll:last-child {
    margin-bottom: 3vw;
}

main .section-my-technologies .frame-scroll .frame {
    height: 100px;
    width: 100px;
    min-width: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-my-technologies);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: inset 0px -2px 4px rgb(0 0 0 / 25%);
    filter: drop-shadow(0px 4px 4px rgba(251, 255, 47, 0.2)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

main .section-my-technologies .frame-scroll svg {
    height: 84%;
    width: 84%;
}

main .section-my-technologies .frame-scroll svg path {
    fill: var(--color-background);
    stroke: var(--color-background);
}

main .section-my-technologies .frame-scroll svg .icon-fill-none {
    fill: none;
}

main .section-my-technologies .frame-scroll svg .icon-stroke-none {
    stroke: none;
}

main .section-my-projects #title-my-projects h2 {
    color: var(--color-my-projects);
}

.section-my-projects .container-frame-projects {
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-my-projects .rectangular-expositor {
    width: 22.22vw;
    min-width: 320px;
}

.section-my-projects .main-frame {
    height: 30.76vw;
    min-height: 443px;
    overflow: hidden;
}

.section-my-projects .retangle-background {
    height: 53px;
    width: 100%;
    background-color: var(--color-my-projects);
    display: flex;
    align-items: center;
}

.section-my-projects .project-name {
    color: var(--color-background);
    font-weight: 700;
    font-size: 1.5em;
    text-indent: 1em;
}

.section-my-projects .expositor {
    width: 100%;
    height: 390px;
    position: relative;
}

.section-my-projects .project-preview {
    width: 100%;
}

.section-my-projects .retangle-project-situation {
    position: absolute;
    width: 274.08px;
    left: 98.49px;
    transform: rotate(-32.67deg);
    background: var(--color-background);
    height: 40px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-my-projects .retangle-project-situation p {
    text-indent: 1em;
    color: var(--color-my-projects);
    font-weight: 700;
    font-size: 1em;
}

.section-my-projects .project-description {}

.section-my-projects .type-description {
    display: flex;
    align-items: center;
    margin: 1vw 1em;
}

.section-my-projects .project-seal {}

.section-my-projects .project-type {}

.section-my-projects .body-description {
    text-align: justify;
    margin-bottom: 3vw;
}

.section-contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vw;
    width: 40vw;
    margin: auto;
}

.section-contact-me .container-contact-platform {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5em;
}

.section-contact-me .contact-platform {
    display: flex;
    align-items: center;
}

.section-contact-me .platform-name {
    text-indent: 1em;
}

.section-contact-me .mid-text {
    font-size: 1.5em;
}

.section-contact-me form {
    width: 100%;
}

.section-contact-me .form-sheet {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 100%;
    font-size: 1.5em;
}

.section-contact-me .form-sheet .form-title {
    margin-bottom: 1.5vw;
}

.section-contact-me .form-sheet input,
.section-contact-me textarea {
    border: solid 1px;
    background-color: rgba(0, 0, 0, 0);
    text-indent: 1em;
    transition: all 0.3s;
}

.section-contact-me .form-sheet input:focus,
.section-contact-me textarea:focus {
    background-color: white;
    color: var(--color-background);
}


.section-contact-me textarea {
    padding: 0.3em 0.4em;
}

.section-contact-me .input-height {
    height: 4.44vw;
}

.section-contact-me .send-button {
    border: solid 1px;
    display: flex;
    justify-content: space-between;
}

.section-contact-me .send-button #send-icon {
    height: 100%;
}

.section-contact-me .form-sheet input[type="email"] {
    border: none;
    outline: 0;
    width: 100%;
}

.section-contact-me .form-sheet input[type="email"]:focus {
    background-color: white;
    color: black;
}

.section-contact-me #social-media {
    width: 100%;
}

.section-contact-me #social-media p:first-child {
    margin: 8vw 0 2vw;
    font-size: 1.5em;
    text-align: center;
}

.section-contact-me .social-media-icons {
    display: flex;
    justify-content: space-between;
}

footer {
    margin-top: 9vw;
    background-color: white;
    height: 47px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p,
footer a {
    color: black;
    font-size: 1em;
    text-align: center;
}

.picture-top-small path {
    fill: blue;
}

/*Media query selector*/

@media (max-width: 480px) {

    :root {
        font-size: 13px;
    }

    header #hidden-menu {
        display: unset;
    }

    header .menu-bottom,
    header .menu-bottom img {
        height: 0px;
        font-size: 0;
        transition: all 0.3s;
        flex: 0 1 100%;
        justify-content: center;
    }

    main .section-top {
        display: flex;
        padding-top: 20vw;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .picture-top {
        display: none;
    }

    .picture-top-banner {
        min-width: 250px;
    }

    .picture-top-small {
        display: unset;
    }

    .section-contact-me {
        width: unset;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    main .title-container h2 {
        font-size: 3em;
        padding-top: 15vw;
    }

    .section-contact-me .social-media-icons {
        justify-content: space-around;
    }

    .container-contact-platform img {
        width: 12vw;
    }

    .section-contact-me .form-sheet input,
    .section-contact-me .input-height,
    .section-contact-me .send-button #send-icon {
        height: 30px;
    }

    .section-contact-me .form-sheet input[type="email"] {
        height: unset;
    }

    .social-media-icons img {
        width: 15vw;
    }

    main .section-top .container-text {
        align-items: center;
        gap: 16vw;
    }

    main .section-about-me .diagonal-cut,
    main .section-about-me #diagonal-cut-below {
        transform: matrix(1, -0.3, 0, 1, 0, 0);
        height: 30vw;
        top: 15vw;
    }

    main .section-about-me #diagonal-cut-below {
        bottom: 15vw;
        top: unset;
    }

    main .section-about-me .title-block {
        top: 20vw;
    }

    main .frame-avatar img {
        width: 33vw;
    }

    main .container-about-me .complement-text {
        width: unset;
        padding: 7vw;
    }

    main .container-about-me .introduction-text {
        margin-bottom: 10vw;
    }

    .section-contact-me {
        row-gap: 5vw;
    }

    .section-contact-me #social-media p:first-child {
        margin-top: 15vw;
    }


    main .section-my-technologies .frame-scroll .frame {
        min-width: 150px;
        min-height: 150px;
    }

    main .section-my-technologies .frame-scroll {
        justify-content: unset;
    }

    main .section-my-technologies .frame-scroll .frame:first-child {
        margin-left: 3vw;
    }

    main .section-my-technologies .frame-scroll .frame:last-child {
        margin-right: 3vw;
    }

    main .section-top .container-text .text-presentation {
        padding: 0 5vw;
        min-height: 150px;
    }

}